/*Landing Image styling*/

.landing {
    height: 500px;
    width: 1400px;
}


/*Styling of css grid*/

.grid {
    display: grid;
}


/*Brand tags box styling*/

.box1 {
    width: 200px;
    height: 200px;
}

.box2 {
    width: 200px;
    height: 200px;
}

.box3 {
    width: 200px;
    height: 200px;
}

.box4 {
    width: 200px;
    height: 200px;
}

.tags {
    position: relative;
    left: 15%;
}