/*Landing Image styling*/

.landing {
    height: 500px;
    width: 1400px;
}


/*Styling of css grid*/

.grid {
    display: grid;
}


/*Brand tags box styling*/

.box1 {
    width: 200px;
    height: 200px;
}

.box2 {
    width: 200px;
    height: 200px;
}

.box3 {
    width: 200px;
    height: 200px;
}

.box4 {
    width: 200px;
    height: 200px;
}

.tags {
    position: relative;
    left: 15%;
}

.text1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    font-size: 30px;
}

.registry-create {
    position: relative;
    left: 15%;
}


/*Styling Baby Registry Image*/

.babyimage {
    width: 500px;
    height: 450px;
}

.text2 {
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}


/*Styling Wedding Registry Image*/

.weddingimage {
    width: 500px;
    height: 450px;
}

.text3 {
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}


/*Styling of House warming card/image*/

.housewarming {
    width: 500px;
    height: 500px;
}

.text4 {
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}


/*Styling custom  registry section*/

.customregistry {
    width: 500px;
    height: 500px;
}

.text5 {
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}


/*FOOTER STYLING*/

a {
    text-decoration: none;
    outline: none;
}

.footer-main {
    width: 100%;
    height: auto;
    margin: auto;
    background: #272727;
    padding: 20px 0px;
}

.footer-social-icons {
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;
}

.footer-social-icons ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer-social-icons ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: #32CD32;
}

.footer-social-icons ul li a {
    color: #272727;
    font-size: 25px;
    display: block;
}

.footer-social-icons ul li a i {
    line-height: 50px;
}


/*Footer Menu one*/

.footer-menu-one {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 25px;
}

.footer-menu-one ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer-menu-one ul li {
    display: inline-block;
    margin: 0px 20px;
}

.footer-menu-one ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}


/*Footer Menu Two*/

.footer-menu-two {
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 20px;
}

.footer-menu-two ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer-menu-two ul li {
    display: inline-block;
    margin: 0px 20px;
}

.footer-menu-two ul li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}